/* report.component.scss */
canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  mat-accordion {
    margin-top: 20px;
  }
  
  mat-expansion-panel-header {
    background-color: #f1f1f1;
  }
  